<section class="pagination">
  <% if (hasPreviousPage) { %>
    <a href="?page=<%= prevPage %>">Previous</a>
  <% } %>

  <% for (let i = 1; i <= totalPages; i++) { %>
    <a href="?page=<%= i %>" class="<%= i === parseInt(currentPage) ? 'active' : '' %>"><%= i %></a>
  <% } %>

  <% if (hasNextPage) { %>
    <a href="?page=<%= nextPage %>">Next</a>
  <% } %>
</section>